body {
  font-family: 'Roboto', sans-serif;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: rgb(114, 25, 114) !important;
}

.slick-dots li button:before {
  color: rgb(48, 39, 129) !important;
}
